<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="username" value="USERNAME"/>
    <add key="password" value="PASSWORD"/>
    <add key="icalpath" value="./dualis.ics" />
    <add key="xmlpath" value="./dualis.xml" />
    <!--Format to export (xml|ical|both)-->
    <add key="format" value="both" />
    <add key="monthspast" value="1" />
    <add key="monthsfuture" value="5" />
    <add key="ftpenabled" value="false" />
    <add key="ftpuser" value="" />
    <add key="ftppassword" value="" />
    <add key="ftpserver" value="host.de/folder" />
    <add key="ftpfilename" value="dualis" />
    <add key="gmailenabled" value="true" />
    <add key="gmailuser" value="user@gmail.com" />
    <add key="gmailpassword" value="GMAILPASS" />
    <add key="gmailcalendarname" value="DHBW"/>
  </appSettings>
</configuration>